@font-face {
    font-family: 'Brasika';
    src: url('https://lucassimonnet89-collab.github.io/fonts/brasika-display-trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
